<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Photos</title>
</head>

<body>

    <div class="container m-3">
        <h2 class="bg bg-dark text-white-50">Upload file to MongoDB!</h2>
       
        <!--   PHOTO-->
        <div class="form-group">
            <form action="./img" method="POST" enctype="multipart/form-data">
                <label for="image">Upload Image</label>
                <input class="form-control" type="file" id="image" name="myImage" value="" accept="image/*" required>
            </div>
            <div>
                <button class="btn btn-dark" type="submit">Submit</button>
            </div>
        </form>
        </div>
        
    </div>
</body>

</html>