<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Tech</title>
</head>
<body>
    <h2 class="badge badge-info">Tech adding</h3>
    <form action="./add" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Head Name</label>
            <input type="text" name="headName" class="form-control" id="exampleInputEmail1" >    
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Picture 1</label>
            <input type="text" name="pictureUrl1" class="form-control" id="exampleInputEmail1" >    
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">tech Descripton</label>
            <textarea type="text" name="description" class="form-control" id="exampleInputEmail1" rows="7"></textarea>    
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">tech Picture 2</label>
            <input type="text" name="pictureUrl2" class="form-control" id="exampleInputEmail1" >    
        </div>
        
        <button type="submit" class="btn btn-primary">Add tech paper</button>
    </form>
</body>
</html>