<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Login</title>
</head>
<body>
<div class="mt-4">
        <h4 class="bg-warning text-light badge-pill">Input pass word to update or new post of technical page</h4>
        <form>
        <label for="pswd">Enter your password: </label>
        <input type="password" id="pswd">
        <input type="button" value="Submit" onclick="checkPswd();" />
    </form>
</div>
<!--Function to check password the already set password is admin-->
<script type="text/javascript">
    function checkPswd() {
        var confirmPassword = "!vad2021";
        var password = document.getElementById("pswd").value;
        if (password == confirmPassword) {
            window.location.href="/tech/techList"
        }
        else{
            alert("Passwords do not match.");
        }
    }
</script>
</body>
</html>